<!-- app/templates/messages.html -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="notifications" style="position: fixed; top: 20px; right: 20px; z-index: 1055; width: 300px;">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
      </div>
  {% endif %}
{% endwith %}